body {
  background-color: rgb(0, 0, 0);
  color: darkred;
}

#title {
  font-family: "Courier New", Courier, monospace;
  color: red;
  text-align: center;
  font-size: xx-large;
}

.intro {
  text-align: justify;
}

h2 {
  color: red;
}

form,
h3 {
  color: orangered;
}
